<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <p class="text-muted">SM Store Tüm hakları saklıdır. © 2022</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>SM Store</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Anasayfa</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hakkımızda</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Vizyon</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Misyon</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sık Sorulan Sorular</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Kurumsal</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/Products" class="nav-link p-0 text-muted">Ürünlerimiz</a></li>
                <li class="nav-item mb-2"><a href="/News" class="nav-link p-0 text-muted">Bizden Haberler</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Müşteri Hizmetleri</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Destek Talebi</a></li>
                <li class="nav-item mb-2"><a href="/ContactUs" class="nav-link p-0 text-muted">Bize Ulaşın</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Üyelik</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Üye Ol</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Üye Girişi</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Şifre Yenileme</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Destek</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">İletişim</a></li>
            </ul>
        </div>
    </footer>
</div>
