<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Admin/">
                    
                    Ana Ekran
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/AppUsers">
                    
                    Kullanıcı Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Brands">
                    
                    Marka Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Categories">
                    
                    Kategori Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Contacts">
                    
                    İletişim Formları
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Customers">
                    
                    Müşteri Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/News">
                    
                    Haber Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Posts">
                    
                    İçerik Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Products">
                    
                    Ürün Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Sliders">
                    
                    Slider Yönetimi
                </a>
            </li>
        </ul>        
    </div>
</nav>
